.brands {
  padding: 0 10px;
}

.brands__header {
  margin-bottom: 22px;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  min-height: 144px;
  margin-bottom: 20px;

  border: 1px solid #ebebeb;
}

.brands__image {
  display: block;
}


