.brands {
  padding: 0 10px;
}

.brands__header {
  margin-bottom: 22px;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  min-height: 144px;
  margin-bottom: 20px;

  border: 1px solid #ebebeb;

  &:hover,
  &:focus {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  }

  &:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  }
}

.brands__item:active .brands__image {
  opacity: 0.3;
}

.brands__image {
  display: block;
}


