.carousel {
  position: relative;
}

.carousel__inner {
  width: 620px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.carousel__item {
  position: relative;

  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  display: none;

  &--active {
    display: block;
  }
}

.carousel__image {
  width: 100%;
  height: auto;
  display: block;
}

.carousel__caption {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 26px;
  padding-left: 24px;
}

.carousel__title {
  margin: 0 0 6px 0;
  padding: 0;

  font-size: 36px;
  line-height: 30px;
  font-family: $pts;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.carousel__text {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: $pts;
  font-weight: 400;
  color: #fff;
}

.carousel__indicators {
  position: absolute;
  top: 220px;
  left: calc(50% - #{$all-indicatoris-width}/2);
  z-index: 10;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}



.carousel__indicator {
  position: relative;

  width: $indicator-width;
  height: 10px;

  list-style: none;
  border-radius: 50%;
  background-color: #fff;

  &:not(:last-child) {
    margin-right: $indicator-width;
  }
}

.carousel__indicator--active::after {
  content: "";

  position: absolute;
  top: calc(50% - 6px/2);
  left: calc(50% - 6px/2);

  width: 6px;
  height: 6px;

  background-color: $red;
  border-radius: 50%;
}

.carousel__control {
  position: absolute;

  width: 22px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;

  &::before,
  &::after {
    position: absolute;
    content: "";



    width: 29px;
    height: 3px;

    background-color: #fff;
  }

  &--prev {
    top: 114px;
    left: 25px;

    &::before,
    &::after {
      top: 50%;
      left: 0;
    }

    &::before {
      transform-origin: left;
      transform: rotate(-45deg);
    }

    &::after {
      transform-origin: left;
      transform: translateY(-1px) rotate(45deg);
    }
  }

  &--next {
    top: 114px;
    right: 20px;

    &::before,
    &::after {
      top: 50%;
      right: 0;
    }

    &::before {
      transform-origin: right;
      transform: rotate(45deg);
    }

    &::after {
      transform-origin: right;
      transform: translateY(-1px) rotate(-45deg);
    }
  }
}

.carousel__btn {
  position: absolute;
  left: percentage(26/620);
  bottom: 22px;

  width: 196px;
  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 18px;
  font-family: $cuprum;
  text-transform: uppercase;
  color: #fff;

  background-color: $red;
  border: none;
  border-radius: 3px;
}

