.page-header {
  margin-bottom: 58px;
  padding-bottom: 64px;

  background-color: $light-grey;
}

.page-header__logo {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  height: 0;
}

.page-header__logo-link {
  position: relative;
  z-index: 1;

  cursor: pointer;
  display: block;
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 24px;
  line-height: 1;
  font-family: $cuprum;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: $red;
  box-shadow: 0 5px 0 0 #b52933;

  &:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
  }

  &:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
  }
}

.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 960px;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-header__title {
  width: 300px;
  margin: 0;
  padding-left: 52px;
  padding-right: 40px;

  font-size: 16px;
  line-height: 23px;
  color: $red;
  font-style: italic;
}

.page-header__contacts {
  width: 300px;
}

.page-header__phone {
  display: block;
  width: 270px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;

  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: $red;

  border: 3px solid #ffffff;
  background-image: url(../../img/s-phone.svg);
  background-repeat: no-repeat;
  background-position: 11px center;
}

.page-header__address {
  margin: 0;
  padding-left: 10px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.page-header__main-nav {
  margin-top: 40px;
}

