.pop-goods {
  padding: 0 10px;
}

.pop-goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pop-goods__item {
  width: 220px;
}

.pop-goods__header {
  margin-bottom: 20px;
  padding: 25px 26px 25px 26px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: $cream;
}

.pop-goods__title {
  font-size: 30px;
  line-height: 1;
  font-family: $cuprum;
  font-weight: 400;
  text-transform: uppercase;
  color: $bitum;
}

.pop-goods__btn {
  width: 254px;
}
