* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.sprite__wrapper {
  display: none;
}

.visually-hidden {
  position: absolute;
  display: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  // -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
