$red: #ee3643;
$brown: #b52933;
$light-grey: #f2f6f8;
$bitum: #32425c;
$dark-bitum: #212a3a;
$base-font-size: 18;
$cuprum: "Cuprum", "Arial", sans-serif;
$light-green: #63a63e;
$pts: "PT Sans", "Arial", sans-serif;
$indicator-width: 10px;
$indicator-quantity: 2;
$all-indicatoris-width: $indicator-width * ($indicator-quantity + 1);
